{% extends 'layout/main.html' %} {% load static %} {% block content %}
<div class="container upper-first upper-second">
  <div class="row">
    <!-- left side -->
    <div class="col-md-8">
      <!-- Party -->
      <div class="row">
        {% for post in latest_post %}
        <div class="col-md-6">
          <div style="
              background-image: url({{post.images.url}});
              width: 100%;
              height: 400px;
            " class="bg-cover"></div>
        </div>
        <div class="col-md-6">
          <h5>
            {{post.name}}
          </h5>
          <p>
            {{post.discription|truncatechars:100}}
          </p>
          <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i><small
            class="small-muted" style="color: #727272">Last updated {{post.created|timesince}} ago</small>
          <p>
            <small class="small-muted" style="color: #727272; font-weight: bold">{{post.category|upper}}</small>
          </p>
          <button class="btn btn-danger" style="
              background-color: #db3434;
              border: 1px solid #db3434;
              font-weight: 600;
            ">
            <a href="{% url 'myan_military_detail_page' post.id %}" class="none-text-decoration">Read More</a>
          </button>
        </div>
        {% endfor %}
      </div>

      <div class="row mt-4">

        <!-- big card -->
        {% for post in latest_two_posts %}
        <div class="col-md-6">
          <div class="card text-bg-primary mb-3 card-red">
            <div class="card-image-top big-card-image" style="
                background-image: url({{post.images.url}});
              " alt=""></div>

            <div class="card-body">
              <h5 class="card-title">{{post.name}}</h5>
              <p class="card-text">
                {{post.discription|truncatechars:100}}
              </p>

              <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i><small
                class="small-muted" style="color: #727272">Last updated{{post.created|timesince}}ago</small>
              <p>
                <small class="small-muted" style="color: #727272; font-weight: bold">{{post.category|upper}}</small>
              </p>
              <a href="{% url 'myan_party_detail_page' post.id %}"><button class="btn btn-danger" style="background-color: #db3434; border: 1px solid #db3434">
                Read More
              </button></a>
              
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of big card -->
      </div>

      <div class="row">
        <!-- military card -->
        {% for post in latest_three_posts %}
        <div class="col-md-6 col-lg-4">
          <div class="card text-bg-primary mb-3 card-red">
            <div class="card-image-top military-card-image" style="
                background-image: url({{post.images.url}});
              " alt=""></div>
            <div style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.125)"></div>
            <div class="card-body">
              <h5 class="card-title military-card-title">{{post.name}}</h5>
              <p class="card-text military-card-text">
                {{post.discription|truncatechars:100}}
              </p>
              <div class="military-card-time">
                <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i><small
                  class="small-muted" style="color: #727272">Last updated {{post.created|timesince}} ago</small>
                <p>
                  <small class="small-muted" style="color: #727272; font-weight: bold">{{post.category|upper}}</small>
                </p>
              </div>
              <a href="{% url 'myan_statement_detail_page' post.id %}"><button class="btn btn-danger military-card-button"
                style="background-color: #db3434; border: 1px solid #db3434">
                Read More
              </button></a>
              
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- end of military card -->
      </div>
    </div>
    <!-- end of left side -->

    <!-- right side -->
    <div class="col-md-4">
      <!-- news -->
      <div class="row mt-4">
        {% for post in all_posts %}
        <div class="col-md-5">
          <div class="right-side-photo" style="background-image: url({{post.images.url}}); height:200px;">
          </div>
        </div>
        <div class="col-md-7">
          <h5 class="card-title party-view-card-title small-news-title">
           {{post.name}}
          </h5>
          <p class="card-text small-news-text">
       {{post.discription|truncatechars:50}}<a href="{% url 'myan_statement_detail_page' post.id %}" class="read-more">read more</a>
          </p>
          <div class="military-card-time">
            <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i>
            <small class="small-muted" style="color: #727272">Last updated 3 mins ago</small>
            <p style="margin-top: -5px">
              <small class="small-muted" style="color: #727272; font-weight: bold; font-size: 12px">{{post.category|upper}}</small>
            </p>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>
   
      <!-- end of news -->
    </div>
    <!-- end of right side -->
  </div>
</div>
<!-- end of body -->

<!-- owl carousel -->
<div class="container">
  <div class="owl-carousel owl-theme">
    {% for post in all_posts %}
    <div class="item upper-image im4 mt-2">
      <!-- 4 card -->
      <div class="">
        <div class="card text-bg-primary mb-3 card-red" style="border: none">
          <div class="card-image-top military-card-image"
            style="height: 140px; background-image: url({{post.images.url}})" alt=""></div>
          <div style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.125)"></div>
          <div class="card-body text-center" style="padding-top: 0px; padding-bottom: 3px">
            <h5 class="card-title military-card-title mt-1">{{post.name|truncatechars:10}}</h5>
            <div class="military-card-time">
              <div style="margin-top: 15px">
                <i style="font-size: 13px; color: #727272; margin-right: 5px" class="bi bi-clock"></i>
                <small class="small-muted" style="color: #727272">Last updated {{post.created|timesince}} ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of 4 card -->
    </div>
    {% endfor %}
  </div>
</div>
<!-- end of owl carousel -->

<!-- footer -->
<div class="container-fluid" style="background-color: #343172; height: 75px">
  <h4 align="center" class="text-white pt-4">
    © Copyright by <b>"Arakan Tech"</b>
  </h4>
</div>
<!-- end of footer -->

<!-- back icon -->
<a style="background-color: #db3434" href="#"
  class="back-to-top d-flex align-items-center justify-content-center active">
  <i style="color: white" class="bi bi-arrow-up-short"></i>
</a>
<!-- end of back icon -->

{% endblock content %}