{% extends 'layout/main.html' %}
{% load static %}
{% block content %}




<!-- party body -->
<div class="container upper-first upper-second">
  <!-- upper photo -->
  <div class="row mt-4">
    {% for post in myan_latest_post_nation_party %}
    <div class="col-md-6">
      <div style="background-image: url({{post.images.url}});width:100%;height:400px" class="bg-cover"></div>
    </div>
    <div class="col-md-6">
      <h5 class="mt-2">{{post.name}}</h5>
      <p>{{post.discription|truncatechars:100|safe}}</p>
      <i style="font-size: 13px;color:#727272;margin-right: 5px;" class="bi bi-clock"></i><small class="small-muted"
        style="color:#727272">Last updated {{post.created|timesince}} ago</small>
      <p><small class="small-muted" style="color:#727272;font-weight: bold;">{{post.category|upper}}</small></p>
      <button class="btn btn-danger" style="background-color: #db3434;border: 1px solid #db3434;font-weight: 600;"><a
          class="none-text-decoration" href="{% url 'myan_party_detail_page' post.id %}">Read More</a></button>
    </div>
    {% endfor %}
  </div>
  <!-- end upper photo -->

  <!-- two photo -->
  <div class="row">
    <!-- column -->
    {% for post in party_posts_nation %}
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="row g-0">
          <div class="col-lg-6 col-md-12">
            <div style="background-image: url({{post.images.url}});width:100%;height:100%"
              class="bg-cover card-img-mobile rounded-start"></div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <h5 class="party-two-photo-header">{{post.name}}</h5>
              <p>{{post.discription|truncatechars:100|safe}}</p>
              <i style="font-size: 13px;color:#727272;margin-right: 5px;" class="bi bi-clock"></i><small
                class="small-muted" style="color:#727272">Last updated {{post.created|timesince}} ago</small>
              <p><small class="small-muted" style="color:#727272;font-weight: bold;">{{post.category|upper}}</small></p>
            
                <a href="{% url 'myan_party_detail_page' post.id %}">  <button class="btn btn-danger"
                  style="background-color: #db3434;border: 1px solid #db3434;font-weight: 600;">Read More</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- end two photo -->
</div>
<!-- end of party body -->

<!-- pagination -->
<!-- pagination -->
<nav aria-label="Page navigation example" class="mt-4 pb-3">
  {% if party_posts_nation.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if party_posts_nation.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{party_posts_nation.previous_page_number}}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} 
    {% for i in paginator.page_range %} 
    {% if party_posts_nation.number == i %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="?page={{i}}">{{i}}</a>
    </li>
    {% else %}
    <li class="page-item" aria-current="page">
      <a class="page-link" href="?page={{i}}">{{i}}</a>
    </li>
    {% endif %}

    {% endfor %}
     {% if party_posts_nation.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{party_posts_nation.next_page_number}}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>
<!-- end pagination -->
<!-- end pagination -->

{% endblock content %}