<!-- top bar -->
{% load static %}
<div class="container-fluid pt-3 top-bar">
  <div class="top d-flex space-between">
    <div>
      <p align="center">
        <img
          class="pointer"
          src="{% static 'images/MNDAA.png' %}"
          width="80px"
          alt=""
        />
      </p>
    </div>
    <div>
      <h4 class="pointer allice bold alliance-header" align="center">
        မြန်မာအမျိုးသားဒီမိုကရက်တစ်မဟာမိတ်တပ်မတော်
      </h4>
    </div>
    <div style="margin-top: 12px">
      <p align="center">
        <span class="pointer ms-2"
          ><i style="color: #1da3d9; font-size: 20px" class="bi bi-skype"></i
        ></span>
        <class class="pointer ms-2" id="t"
          ><i style="color: #3274f3; font-size: 20px" class="bi bi-twitter"></i>
        </class>
        <class class="pointer ms-2 f"
          ><i style="color: #5964e5; font-size: 20px" class="bi bi-facebook"></i
        ></class>
      </p>
    </div>
  </div>
</div>
<!-- end top bar -->
